body {
  margin: 0;
  width: 100%;
}

/* Input */
.addEvents {
  max-width: 700px;
  width: 95%;
  margin: 1em auto 0.75em;
  padding: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.showcolor {
  display: inline-block;
  border: 2px solid black;
  margin: 0;
  padding: 0;
}
.showcolor span {
  margin: 0;
  padding: 0;
}
#selected-color {
  padding: 1px ;
  margin: 0;
}
input[type="number"] {
  width: 2.8em;
}
input[type="text"] {
  width: 6em;
}
select {
  width: 5em;
}
.inputButtons {
  display: flex;
  margin: 0.5em auto 1.2em;
  padding: 0 auto;
  max-width: 700px;
  width: 95%;
  justify-content: center;
  align-items: flex-end;
}
.inputButtons button {
  display: inline-block;
  font-size: 1.3rem;
  width: 4em;
  text-align: center;
  text-decoration: none;
  margin: 0 0.5rem;
}


/* Timer */
.timer {
  margin-top: 1em;
}
.timer {
  display: block;
  max-width: 450px;
  width: 95%;
  font-size: 95px;
  text-align: center;
  margin: 10px auto;
  padding: 0 auto;
  background-color: black;
  color: white;
  border-radius: 8px;
  font-family: monego, monospace;
}
#curr-exercise {
  display: block;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: attr(data-name);
  font-size: 2rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  margin: 0;
  padding: 0 0.95rem;
  background-color: #A0A0A0;
}
.timer button {
    display: block;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0;
    padding: 0.3rem 0.35rem;
    font-size: 1.3rem;
    width: 100%;
    background-color: rgb(158, 158, 158); /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
}
.timer button:hover {
  background-color: rgba(158, 158, 158, 0.794);
  cursor: pointer;
}

/* Exercise queue */
.queue {
  width: 88%;
  max-width: 700px;
  display: block;
  background-color: rgb(36, 36, 36);
  padding: 1rem;
  margin: 1rem auto;
  padding: 0 auto;
  border-radius: 7px;
}
.draggable {
  margin: 0.5em;
  padding: 1rem;
  background-color: white;
  border: 1px solid black;
  cursor: move;
}
.draggable.dragging {
  opacity: .5;
}
.draggable .name {
  display: inline-block;
  font-size: 1.25em;
  font-weight: bold;
  margin-right: 0.8em;
}
.draggable .duration::after {
  content: " secs";
  font-size: 0.88em;
}
.draggable button {
  float: right;
}


audio {
  display: none;
}


/* Share URL  */
#share-url {

  width: 90%;
  max-width: 750px;
  /* display: block; */
  display: none;
  margin: 0 auto;
  padding: 0 auto;
  margin-top: 1em;
}